<?php
/**
 * @var \MilicaDev\MilicaApi\Block\Crud $block
 */

$block = $block->getOppettider();


        foreach ($block as $info) {

			    echo $info->getNamn().'<br>';
          echo $info->getAdress().'<br>';
          echo $info->getTelefonNummer().'<br><br>';
            $bingo = $info->getOppettider();
            $pieces = explode(";_*", $bingo);
            $comma_separated = implode(";", $pieces);
            $pieces2 = explode(";", $comma_separated);

         
                 
          echo "<table style='border: 1px solid black;'>

                  <tr style='border: 1px solid black;''>
                    <th style='border: 1px solid black;'>" .$pieces2[0]."</th>
                    <th style='border: 1px solid black;'>" .$pieces2[6]."</th>
                    <th style='border: 1px solid black;'>" .$pieces2[12]."</th>
                    <th style='border: 1px solid black;'>" .$pieces2[18]."</th>
                    <th style='border: 1px solid black;'>" .$pieces2[24]."</th>
                    <th style='border: 1px solid black;'>" .$pieces2[30]."</th>
                    <th style='border: 1px solid black;'>" .$pieces2[36]."</th>
                  </tr>
                  <tr style='border: 1px solid black;'>
                    <td style='border: 1px solid black;'>".$pieces2[1]."-".$pieces2[2]."</td>
                    <td style='border: 1px solid black;'>".$pieces2[7]."-".$pieces2[8]."</td>
                    <td style='border: 1px solid black;'>".$pieces2[13]."-".$pieces2[14]."</td>
                    <td style='border: 1px solid black;'>".$pieces2[19]."-".$pieces2[20]."</td>
                    <td style='border: 1px solid black;'>".$pieces2[25]."-".$pieces2[26]."</td>
                    <td style='border: 1px solid black;'>".$pieces2[31]."-".$pieces2[32]."</td>
                    <td style='border: 1px solid black;'>".$pieces2[37]."-".$pieces2[38]."</td>
                  </tr>
         
                </table> <br>"; 

          } 

             


