@color-blue1: #73374d;
body { background-color: #f7dfd4;}
@font-family-name__base:'Josefin Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;


.header.panel > .header.links {
    float: left;
}

.nav-sections-item-content {

	background-color: #f7dfd4;
}

.navigation {

	background-color: #f7dfd4;

}

.navigation ul {

	text-align: center;
}

.navigation .level0 > .level-top {

	color: #73374d;
	font-size: 40px;
}

.navigation .level0.active > .level-top,
  .navigation .level0.has-active > .level-top {
    border-color: #73374d;
    color: #333333;
}

.page-footer{
	
		background-color: #73374d;
}

.footer.content {
    border-top: none;
   
}

.links.block-static-block.widget {
  
  width: 100%;
}

.irriterande {

	text-decoration: none;
	display: -webkit-inline-box;
	list-style: none;
}
ul.irriterande > li > a {

	color: #b87870;
	font-size: 40px;

}

.footer.content ul > li{

	margin: 3%;
}
.parallax {
    background-image: url('@{baseDir}images/dejanabakgrund.png');
	min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
